@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --primary-color: #002730;
  --primary-color-dark: #001318;
  --secondary-color: #e8f1fa;
  --text-dark: #282d31;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --max-width: 1200px;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  border: none;
  text-decoration: none;
}
.btn{
  display: inline-block;
  margin-top: 1rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--primary-color-dark);
  cursor: pointer;
  font-size: 1.7rem;
}
.btn:hover{
  background-color: azure;
  color: #282d31;
}
html{
  font-size: 60%;
  overflow: scroll;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}
section{
  padding: 2rem 9%;
}
.heading{
  text-align: center;
  padding: 2.5rem 0;
}
.heading span{
  font-size: 3.5rem;
  background-color: var(--primary-color-dark);
  color: var(--secondary-color);
  border-radius: 0.5rem;
  padding: .2rem 1rem;
}
.heading span.space{
  background: none;
}
header{
  position: fixed;
  top: 0; left: 0; right: 0;
  background-color: var(--primary-color) ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 9%;
  z-index: 1000;
}
.logo{
  font-size: 4.5rem;
  font-weight: bolder;
  color: var(--secondary-color);
  text-transform: capitalize;
}
nav a{
  color:var(--secondary-color);
  font-size: 2rem;
  font-weight: 800;
  margin: 0.8rem;
}
nav a:hover, .logo:hover{
  color: var(--text-light);
}

header .icons #login_btn{
  cursor: pointer;
  font-size: 2.5rem;
  color: white;
}
.login-form-container{
  position: fixed;
  z-index: 10000;
  top: -120%; left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container form{
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background-color: var(--extra-light);
  width: 50rem;
}
.login-form-container.active{
  top: 0;
}
.login-form-container form h3{
  font-size: 3rem;
  color: var(--text-dark);
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}
.login-form-container form .box{
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: var(--text-light);
  margin: 0.6rem 0;
  border: 0.1rem solid rgb(0,0,0,0.3);
  text-transform: none;
}
.login-form-container form #remember{
  margin: 2rem 0;
}
.login-form-container form label{
  font-size: 1.5rem;
}
.login-form-container form .btn{
  display: block;
  width: 100%;
}
.login-form-container form p{
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--text-light);
}
.login-form-container form p a:hover{
  color: var(--text-dark);
  text-decoration: underline;
}
.login-form-container #form_close{
  position: absolute;
  top: 2rem; right: 3rem;
  font-size: 5rem;
  color: var(--extra-light);
  cursor: pointer;
}
.home{
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  z-index: 0;
}
.home .content{
  text-align: center;
}
.home .content h3{
  font-size: 4.5rem;
  color: var(--extra-light);
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgb(0, 0, 0,0.1);
}
.home .content p{
  font-size: 2.5rem;
  color: var(--extra-light);
  padding: .5rem 0;
}
.home .video-container video{
  position: absolute;
  top:0; left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.book .row{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}
.book .row .image{
  flex: 1 1 40rem;
}
.book .row .image img{
  width: 100;
}
.book .row form{
  flex: 1 1 40rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}
.book .row form .inputbox{
  padding: .5rem 0;
}
.book .row form .inputbox input{
  width: 100%;
  padding: 1rem;
  border: .1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
}
.book .row form .inputbox h3{
  font-size: 2rem;
  padding: 1rem 0;
  color: var(--text-dark);
}

.packages .box_container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem
}
.packages .box_container .box{
  flex: 1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 1 1rem 2rem rgba(0, 0, 0, 0.1);
}
.packages .box_container .box img{
  height: 25rem;
  width: 100%;
  object-fit: cover;
}
.packages .box_container .box .content{
  padding: 2rem;
}
.packages .box_container .box .content h3{
  font-size: 2rem;
  color: var(--text-dark);
} 
.packages .box_container .box .content h3 i{
  color: var(--primary-color-dark);
}
.packages .box_container .box .content p{
  font-size: 1.5rem;
  color: var(--text-light);
  padding: 1rem 0;
}
.packages .box_container .box .content .stars i{
  font-size: 1.5rem;
  color: brown;
}
.packages .box_container .box .content .price{
  font-size: 2rem;
  color: var(--text-light);
  padding-top: 1rem;
}
.packages .box_container .box .content .price span{
  color: var(--text-light);
  font-size: 1.5rem;
  text-decoration: line-through;
}

.services .box_container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.services .box_container .box{
  flex: 1 1 30rem;
  border-radius: .5rem;
  padding: 1rem;
  text-align: center;
}
.services .box_container .box i{
  padding: 1rem;
  font-size: 5rem;
  color: var(--primary-color);
}
.services .box_container .box h3{
  font-size: 2.5rem;
  color: var(--text-dark);
}
.services .box_container .box p{
  font-size: 1.5rem;
  color: var(--text-light);
  padding: 1rem 0;
}
.services .box_container .box:hover{
  box-shadow: 0 1rem 2rem rgb(0,0,0,0.3);
}

.gallery .box_container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.gallery .box_container .box{
  overflow: hidden;
  box-shadow: 1 1rem 2rem rgb(0,0,0,0.3);
  border: 1rem solid rgb(255, 255, 255);
  border-radius: .5rem;
  flex: 1 1 30rem;
  height: 25rem;
  position: relative;
}
.gallery .box_container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery .box_container .box .content{
  position: absolute;
  top: -100; left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgb(0,0,0,0.3);
  padding: 2rem;
  padding-top: 5rem;
}
.gallery .box_container .box:hover .content{
  top: 0; 
}
.gallery .box_container .box h3{
  font-size: 2.5rem;
  color: var(--secondary-color);
}
.gallery .box_container .box p{
  font-size: 1.5rem;
  color: var(--extra-light);
  padding: 1rem 0;
}


.contactus .row{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}
.contactus .row .image{
  flex: 1 1 40rem;
}
.contactus .row .image img{
  width: 100%;
}
.contactus .row form{
  flex: 1 1 40rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
}
.contactus .row form .inputbox{
  padding: .5rem 0;
}
.contactus .row form .inputbox input , .contactus .row form textarea{
  width: 100%;
  padding: 1rem;
  border: .1rem solid rgba(0, 0, 0, 0.1);
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
}
.contactus .row form textarea{
  height: 15rem;
  resize: none;
  width: 100%;
}
.contactus .row form .inputbox h3{
  font-size: 2rem;
  padding: 1rem 0;
  color: var(--text-dark);
}



















.footer{
  background-color: #001318;
}
.footer .box_container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}
.footer .box_container .box{
  padding: 1rem 0;
  flex: 1 1 25rem
}
.footer .box_container .box h3{
  font-size: 2.5rem;
  padding: .7rem 0;
  color: var(--secondary-color);
}
.footer .box_container .box p{
  font-size: 1.5rem;
  padding: .7rem 0;
  color: var(--secondary-color);
}
.footer .box_container .box a{
  display: block;
  font-size: 1.5rem;
  padding: .7rem 0;
  color: var(--secondary-color);
}
.footer .box_container .box a:hover{
  color: aqua;
  text-decoration: underline;
}
.footer .credit{
  padding: 2rem 1rem;
  text-align: center;
  margin-top: 1rem;
  font-size:2rem;
  font-weight: normal;
  color: var(--extra-light);
  border-top: .1rem solid rgb(255, 255, 255,.5);
}

.footer .credit span{
  color: aquamarine;
}